html {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    min-width: 1100px;
    background:#ff303f;
   
}

.hello{font-family: 'Amatic SC', cursive; font-size: 180px; color:#fff; text-align: center; width: 100%; position:absolute; top:50%; margin-top: -90px;}