* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* perfect-scrollbar v0.6.2 */
.ps-container{overflow:hidden !important}.ps-container.ps-active-x>.ps-scrollbar-x-rail,.ps-container.ps-active-y>.ps-scrollbar-y-rail{display:block}.ps-container.ps-in-scrolling{pointer-events:none}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:0.9}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:0.9}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999}.ps-container>.ps-scrollbar-x-rail{display:none;position:absolute;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;opacity:0;-webkit-transition:background-color .2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;-o-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear;bottom:3px;height:8px}.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x{position:absolute;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;transition:background-color .2s linear;bottom:0;height:8px}.ps-container>.ps-scrollbar-y-rail{display:none;position:absolute;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;opacity:0;-webkit-transition:background-color .2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;-o-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear;right:3px;width:8px}.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{position:absolute;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;transition:background-color .2s linear;right:0;width:8px}.ps-container:hover.ps-in-scrolling{pointer-events:none}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:0.9}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:0.9}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999}.ps-container:hover>.ps-scrollbar-x-rail,.ps-container:hover>.ps-scrollbar-y-rail{opacity:0.6}.ps-container:hover>.ps-scrollbar-x-rail:hover{background-color:#eee;opacity:0.9}.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x{background-color:#999}.ps-container:hover>.ps-scrollbar-y-rail:hover{background-color:#eee;opacity:0.9}.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y{background-color:#999}



/*-----------Variables-----------*/
$font-family: 'Arial', sans-serif;
$primary-color: #333;
$primary-background: #fff;
$link-color: #333;
$headline-color: #333;
$border-color: #c2c2cb;
/*-----------Variables-----------*/

/*---------Customs---------*/
html,body {
    font-size: 16px;
    line-height: 25px;
  height:100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $primary-color;
  background:$primary-background;
  font-family: $font-family;
}
.all {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.last {
  margin-right: 0 !important;
}
.text_left {
  text-align: left;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.clear {
  clear: both;
}
%transition {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
img {
  max-width: 100%;
  height: auto;
}
img, img:focus {
  outline:none;
}
a {
  color: $link-color;
  outline:none;
}
a:focus, a:active, a:hover {
  color: $link-color;
  outline:none;
}
h1,h2,h3,h4,h5,h6 {
  color: $headline-color;
  margin: 0;
  font-family: $font-family;
}
h1 {
  padding-bottom: 2rem;
}

.fixed {
    width: 100%;
    position: fixed!important;
    top: 0;
    z-index: 999;
}
.flex-video {
    height: 0;
    margin-bottom: 0.88889rem;
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 1.38889rem;
    position: relative;
    iframe, object, embed, video {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.table-container {
    overflow-y: auto;
    width: 100%;
}
ul {
  list-style: none;
}
.breadcrumb {
  padding-bottom: 1.25rem;
  li {
    display: inline-block;
    padding-right: 0.625rem;
  }
}
/*---------Customs---------*/

/*---------Forms---------*/
label {
  color: $primary-color;
  &.error {
    color: red;
  }
}
input, button, select, textarea {
  width: 100%;
  outline: none;
  padding:11px 7px;
  border:1px solid $border-color;
  color: $link-color;
}
textarea {
  resize: none;
  min-height: 70px;
}
::-webkit-input-placeholder {color:$link-color; text-overflow: ellipsis;}
::-moz-placeholder {color:$link-color; text-overflow: ellipsis; opacity: 1;}
::-ms-input-placeholder {color:$link-color; text-overflow: ellipsis;}
table {
  width: 100%;
  td {
    padding: 0.625rem;
  }
}
/*---------Forms---------*/

/*---------Buttonts---------*/
.btn {
  position: relative;
  display: inline-block;
  border: 1px solid $border-color;
  background: #fff;
  color: $link-color;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  padding: 0.625rem 1rem;
  @extend %transition;
}
.btn:hover, .btn:focus, .btn:active {
  color: $link-color;
  text-decoration: none;
}
/*---------Buttonts---------*/

/*---------Popup---------*/
.popup-open {
  overflow: hidden;
}
.popup-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  outline: 0;
  &.active {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.popup {
  position: relative;
  max-width: 600px;
  margin: 10% auto;
  .popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.popup-content {
    position: relative;
    padding: 1.25rem;
    background-color: #fff;
    border: 1px solid $border-color;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.popup-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
}
/*---------Popup---------*/

/*---------DropDown---------*/
.dropdown {
  position: relative;
  &.active {
    .dropdown-caret {
      .fa {
        &:before {
          content: '\f106';
        }
      }
    }
    .dropdown-menu {
      display: block;
    }
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: 1.25rem;
  background: #fff;
  border: 1px solid $border-color;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
/*---------DropDown---------*/

/*---------ToolTip-------*/
@media (min-width: 992px) {
    .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
  }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
  }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
  }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    border-radius: 4px;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000000;
  }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
  }
  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }
  .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }
  .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }
}
/*---------ToolTip-------*/

/*---------Tabs---------*/
.tab_pane {
    display: none;
    &.act {
        display: block;
    }
}
/*---------Tabs---------*/

/*---------Counter---------*/
.counter {
    -webkit-user-select: none;
      -moz-user-select: none;
      input {
          width: 40px;
          text-align: center;
      }
}
.counter_val, .counter_nav {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}
.counter_nav {
    text-decoration: none;
    cursor: pointer;
    &.def {
          color: #ccc;
          cursor: default;
    }
    &:active, &:focus, &:visited, &:hover {
        text-decoration: none;
    }
}
/*---------Counter---------*/

/*---------Sliders---------*/
/*---------Sliders---------*/

/*---------Carousels---------*/
/*---------Carousels---------*/

/*-----------MobileMenu-----------*/
body.overflow {
    position: fixed;
    overflow: hidden; 
  }
.mobile-nav-bt {
  display: none;
  float: right;
  font-size: 2rem;
  color: #fff;
  &:hover, &:focus {
    color: #fff;
  }
}
.lines {
    display: inline-block;
    width: 2rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.28571rem;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}
.lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.28571rem;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -ms-transform-origin: 0.28571rem center;
    -o-transform-origin: 0.28571rem center;
    -moz-transform-origin: 0.28571rem center;
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
}
.lines:before {
    top: 0.7rem;
}
.lines:after {
    top: -0.7rem;
}
.navicon:hover .lines:before {
    top: 0.8rem;
}
.navicon:hover .lines:after {
    top: -0.8rem;
}
.navicon.close {
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    -o-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}
.navicon.x.close .lines {
    background: transparent;
}
.navicon.x.close .lines:before, .navicon.x.close .lines:after {
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2.5rem;
    background: #d2232a;
}
.navicon.x.close .lines:before {
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.navicon.x.close .lines:after {
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.mobile-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  z-index: 9;
  background: #000; 
  @extend %transition;
  &.show {
    left: 0;
  }
}
.mobile-inside-container {
  position: relative;
  padding-bottom: 2rem;
  min-height: 100%;
}
/*-----------MobileMenu-----------*/

/*-----------Header-----------*/
header {
  padding: 1rem 0;
  background: #fff;
  border-bottom: 1px solid $border-color;
}
/*-----------Header-----------*/

/*-----------Main page-----------*/
/*-----------Main page-----------*/

/*-----------Article-----------*/
.article {
  table {
    margin-top: 20px;
    th,td {
      padding: 5px;
    }
  }
  h1,h2,h3,p,img {
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
/*-----------Article-----------*/

/*-----------Catalog-----------*/
/*-----------Catalog-----------*/

/*-----------Contact-----------*/
/*-----------Contact-----------*/

/*-----------Footer-----------*/
footer {
  position: relative;
  border-top: 1px solid $border-color;
  padding: 1rem 0;
}
/*-----------Footer-----------*/






